/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3d7549b42afe382d1550.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-cdcc29e4756736f24533.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-53aea695f229349a6d02.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-08-07T06-16-35-0621.json
/cmake-build-debug/.cmake/api/v1/reply/target-tuyang_switchplate_2-Debug-c4dc6af5ee064647ef36.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-b35e11c73ac66f9debef.json
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/CXX.dd
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/CXXDependInfo.json
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/CXXModules.json
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/embed.manifest
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/inference.cpp.obj
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/inference.cpp.obj.ddi
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/inference.cpp.obj.modmap
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/intermediate.manifest
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/main.cpp.obj.ddi
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/main.cpp.obj.modmap
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/manifest.rc
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/manifest.res
/cmake-build-debug/CMakeFiles/tuyang_switchplate_2.dir/vc140.pdb
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/rules.ninja.tmp6f3d5
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/best.onnx
/cmake-build-debug/blur0.png
/cmake-build-debug/blur1.png
/cmake-build-debug/build.ninja
/cmake-build-debug/build.ninja.tmpfb15f
/cmake-build-debug/classes.txt
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/dect.png
/cmake-build-debug/map_disData.png
/cmake-build-debug/roi0.png
/cmake-build-debug/roi1.png
/cmake-build-debug/show_error.png
/cmake-build-debug/tuyang_switchplate_2.exe
/cmake-build-debug/tuyang_switchplate_2.ilk
/cmake-build-debug/tuyang_switchplate_2.pdb
